:root{
    --maincolor:#15202b;
    --secondarycolor:#192734; 

    --bordercolor:#164d56; 

	--mainText:#fff;
	--secondaryText:#eeeeee;
    --themedotborder:#fff; 
    --previewBg:rgb(25,39,52,0.8);
    --previewshadow:#1111921 ;

    
}