 :root {
 	--maincolor: #eaeaea;
 	--secondarycolor: #fff;

 	--bordercolor: #c1c1c1;

 	--mainText: black;
 	--secondaryText: #4b5156;
 	--themedotborder: #24292e;
 	--previewBg: rgb(251, 249, 243, 0.8);
 	--previewshadow: #f0ead6;

 }



 html,
 body {
 	padding: 0;
 	margin: 0;
 }

 body * {
 	transition: 0.3s;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 strong {
 	color: var(--mainText);
 	font-family: 'Russo One', sans-serif;
 	font-weight: 500;
 }

 p,
 li,
 span,
 label,
 input,
 textarea {
 	color: var(--secondaryText);
 	font-family: 'Roboto Mono', monospace;

 }

 a {
 	text-decoration: none;
 	color: #17a2b8;
 }

 ul {
 	list-style: none;
 }

 h1 {
 	font-size: 56px;
 }

 h2 {
 	font-size: 36px;
 }

 h3 {
 	font-size: 28px;
 }

 h4 {
 	font-size: 24px;
 }

 h5 {
 	font-size: 20px;
 }

 h6 {
 	font-size: 16px;
 }

 .s1 {
 	background-color: var(--maincolor);
 	border-bottom: 1px solid var(--border-color);
 	overflow: auto;
 }


 .s2 {
 	background-color: var(--secondarycolor);
 	overflow: auto;
 	border-bottom: 1px solid var(--bordercolor);
 }

 .main-container {
 	width: 1200px;
 	margin: 0 auto;
 }

 .greeting-wrapper {
 	display: grid;
 	align-content: center;
 	text-align: center;
 	min-height: 10em;
 }

 .intro-wrapper {
 	border: 1px solid var(--bordercolor);
 	background-color: var(--secondarycolor);
 	border-radius: 5px 5px 0 0;

 	-webkit-box-shadow: 10px 10px 88px 5px rgba(0, 0, 0, 0.75);
 	-moz-box-shadow: 10px 10px 88px 5px rgba(0, 0, 0, 0.75);
 	box-shadow: 10px 10px 88px 5px rgba(0, 0, 0, 0.75);

 	display: grid;
 	grid-template-columns: 1fr 1fr;
 	grid-template-areas:
 		'nav-wrapper nav-wrapper'
 		'left-column right-column'
 	;
 }

 .nav-wrapper {
 	border-radius: 5px 5px 0 0;
 	grid-area: nav-wrapper;
 	border-bottom: 1px solid var(--bordercolor);
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	background-color: var(--maincolor);
 }

 #navigation a {
 	color: var(--mainText);
 }

 #navigation {
 	margin: 0;
 	padding: 10px;
 }

 #navigation li {
 	display: inline-block;
 	margin-right: 5px;
 	margin-left: 5px;

 }

 .dot-wrapper {
 	display: flex;
 	padding: 10px;
 }

 #dot-1 {
 	background-color: #FC6058;
 }

 #dot-2 {
 	background-color: #fec02f;
 }

 #dot-3 {
 	background-color: #2aca3e;
 }

 .browser-dot {
 	height: 15px;
 	width: 15px;
 	border-radius: 50%;
 	background-color: black;
 	margin: 5px;

 	-webkit-box-shadow: 10px 10px 88px 5px rgba(0, 0, 0, 0.75);
 	-moz-box-shadow: 10px 10px 88px 5px rgba(0, 0, 0, 0.75);
 	box-shadow: 10px 10px 88px 5px rgba(0, 0, 0, 0.75);

 }

 .left-column {
 	grid-area: left-column;
 	padding-top: 50px;
 	padding-bottom: 50px;
 }

 #profile-pic {
 	display: block;
 	border-radius: 50%;
 	margin: 0 auto;
 	height: 200px;
 	width: 200px;
 	object-fit: cover;
 	border: 2px solid var(--bordercolor);
 }

 #theme-options-wrapper {
 	display: flex;
 	justify-content: center;
 }

 .theme-dot {
 	border-radius: 50%;
 	height: 30px;
 	background-color: black;
 	width: 30px;

 	margin: 5px;
 	border: 2px solid var(--themedotborder);

 	-webkit-box-shadow: 10px 10px 88px 5px rgba(0, 0, 0, 0.75);
 	-moz-box-shadow: 10px 10px 88px 5px rgba(0, 0, 0, 0.75);
 	box-shadow: 10px 10px 88px 5px rgba(0, 0, 0, 0.75);
 	cursor: pointer;
 }

 .theme-dot:hover {
 	border-width: 5px;
 }

 #light-mode {
 	background-color: #fff;
 }

 #blue-mode {
 	background-color: #192734;
 }

 #green-mode {
 	background-color: #78866b;
 }

 #purple-mode {
 	background-color: #7e5c74;
 }

 #setting-note {
 	font-size: 12px;
 	font-style: italic;
 	text-align: center;
 }

 .right-column {
 	grid-area: right-column;
 	display: grid;
 	align-content: center;

 	padding-top: 50px;
 	padding-bottom: 50px;
 }

 #preview-shadow {
 	background-color: var(--previewshadow);
 	width: 300px;
 	height: 180px;
 	padding-left: 30px;
 	padding-top: 30px;
 }

 #preview {
 	width: 350px;
 	border: 1.5px solid #17a2b8;
 	background-color: var(--previewBg);
 	padding: 30px;
 	position: relative;
 }

 .corner {
 	width: 7px;
 	height: 7px;
 	border-radius: 50%;
 	border: 1.5px solid #17a2b8;
 	background-color: #fff;
 	position: absolute;
 }

 #corner-t1 {
 	top: -5px;
 	left: -5px;
 }

 #corner-t2 {
 	top: -5px;
 	right: -5px;
 }

 #corner-t3 {
 	bottom: -5px;
 	right: -5px;
 }

 #corner-t4 {
 	bottom: -5px;
 	left: -5px;
 }


 .about-wrapper {
 	font-size: 20px;
 	display: grid;
 	padding-bottom: 50px;
 	padding-top: 50px;
 	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
 }

 #skills {
 	font-size: 25px;
 	display: flex;
 	justify-content: space-evenly;
 	background-color: var(--previewshadow);
 }



 .social-links {
 	font-size: 50px;
 	display: grid;
 	align-content: center;
 	text-align: center;
 }

 .post-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 20px;
	justify-content: center;
	padding-bottom: 50px;
}

 .post {
	 margin: 5%;
 	border: 1px solid var(--bordercolor);
 	-webkit-box-shadow: 10px 10px 88px 5px rgba(0, 0, 0, 0.75);
 	-moz-box-shadow: 10px 10px 88px 5px rgba(0, 0, 0, 0.75);
 	box-shadow: 10px 10px 88px 5px rgba(0, 0, 0, 0.75);
 }

 .thumbnail {
 	display: block;
 	width: 100%;
 	height: auto;
 	object-fit: cover;
 }

 .post-preview {
 	background-color: #fff;
 	padding: 15px;
 }

 .post-title {
 	color: black;
 	margin: 0;
 }

 .post-intro {
 	color: #4b5156;
 	font-size: 14px;
 }

 .contact-1 li {
 	font-size: 50px;
 	text-align: center;
 	display: flex;
 	justify-content: center;
 }

 .side-by-side {
 	width: 100%;

 }

 .side-by-side li {
 	display: inline;
 }


 @media screen and (max-width: 1200px) {
 	.main-container {
 		width: 95%;
 	}
 }

 @media screen and (max-width: 800px) {
 	.intro-wrapper {
 		grid-template-columns: 1fr;
 		grid-template-areas:
 			'nav-wrapper'
 			'left-column'
 			'right-column'
 		;
 	}

 	.right-column {
 		justify-content: center;
 	}
 }
